/* Main Page Section */
.title img {
    display: flex;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
    width: 600px;
    height: 230px;
    background-color: white;
}

body {
    background-color: #081c54;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

a {
    color: black;
    text-decoration: none;
}

.container-one ul {
    list-style-type: none;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
}

.recipe-desc {
    font-size: 16px;
}


/* Recipes and Steps Lists */
.ingredients-list, .steps-list {
    font-size: 14px;
    color: red;
}