/* All Pages */
    body {
        background-color: #081c54;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 25px;
    }


/* Main Page Section */
    .title img {
        text-align: center;
        display: block;
        margin: 0 auto;
        border-radius: 50px;
        width: 600px;
        height: 230px;
        margin-top: 30px;
        background-color: white;
    }

    .title::before {
        border: 5px solid #f7ce46;
        width: 800px;
        height: 225px;
        border-radius: 80px;
        display: flex;
        justify-content: center;
        margin-top: -16.25%;
        margin-left: 21%;
        position: absolute;
        content: "";
        z-index: 2;
    }

    .title::after {
        border: 5px solid #f7ce46;
        display: flex;
        justify-content: center;
        margin-top: -16.25%;
        margin-left: 21%;
        position: absolute;
        content: "";
        z-index: 1;
        height: 225px;
        width: 790px;
    }

    a {
        color: black;
        text-decoration: underline;
    }

    .container-one ul {
        list-style-type: none;
        background-color: white;
        border-radius: 50px;
        padding: 20px 10px;
        margin: 3% 5%;
    }

    .container-one li {
        margin-left: 30%;
    }

    .recipe-desc {
        font-size: 18px;
        margin-left: 30%;
        margin-right: 5%;
        margin-bottom: 205px;
    }

    .recipe-desc-top {
        margin-top: 7%;
    }

    .recipe-desc-bottom {
        font-size: 18px;
        margin-bottom: 7%;
        margin-left: 30%;
        margin-right: 5%;

    }

    .footer {
        font-size: 16px;
        background-color: white;
        text-align: center;
        display: block;
        margin: 0 auto;
        border-radius: 50px;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        width: 400px;
    }


/* Ingredients and Steps Section */
    .ingredients-list, .steps-list {
        font-size: 18px;
    }

    .text-section {
        background-color: white;
        display: block;
        margin: 0 auto;
        border-radius: 50px;
        align-items: center;
        padding: 20px;
    }