.title img {
    display: flex;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
    width: 600px;
    height: 230px;
}

body {
    background-color: #081c54;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}